@{
    ViewData["Title"] = "History";
}
<h1>@ViewData["Title"]</h1>

<p>Page to detail log history.</p>
    <iframe src="https://giphy.com/embed/lsa4iBxjsNyRa" width="436" height="480" frameBorder="0" class="giphy-embed" allowFullScreen>
    </iframe>
    <p>
        <a href="https://giphy.com/gifs/loop-lsa4iBxjsNyRa">via GIPHY</a>
    </p>