@{
    Layout = "CustomHistory";
}
<style>
   .container {
       text-align: center;
   }
   body {
       background-color: black;
   }
   h1, a, p {
       color: #fff;
   }
   footer {
       display: none !important;
   }
</style>
@{
    ViewData["Title"] = "History";
}
<h1>perspective lost...</h1>
<p>¯\_( ͡❛ ⏥ ͡❛)_/¯</p>
    <img src="https://media1.giphy.com/media/iluBVxnDZMyME/giphy.gif?cid=790b7611edd8ffc6ea449fc76bc556950882aa3d01632b23&rid=giphy.gif" width="536" height="480">